.advantages {
  background: rgba(238, 238, 238, 1);
  padding-top: 26px;
  padding-bottom: 24px;
}

.advantages__item {
  margin-bottom: 50px;
}

.advantages__number {
  font-size: 14px;
  line-height: 21px;
}

.advantages__description {
  font-size: 14px;
  line-height: 21px;
}
