.availability {
  margin-top: 35px;
  margin-bottom: 35px;
}

.availability__wrapper {
  width: 320px;
  margin: 0 auto;
}

.availability__list {
  list-style: none;
  text-align: left;
  padding-left: 70px;
}

.availability__item {
  margin-bottom: 26px;
}

.availability__title {
  margin-bottom: 28px;
  position: relative;
}

.availability__house::before {
  content: "";
  position: absolute;
  width: 39px;
  height: 37px;
  background-image: url("../img/icon-house.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  left: -50px;
  top: -8px;
  background-size: contain;
}

.availability__gift::before {
  content: "";
  position: absolute;
  width: 32px;
  height: 38px;
  background-image: url("../img/icon-gift.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  left: -50px;
  top: -8px;
}

.availability__burger::before {
  content: "";
  position: absolute;
  width: 40px;
  height: 35px;
  background-image: url("../img/icon-burger.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  left: -50px;
  top: -8px;
  background-size: contain;
}

.availability__item--housing {
  width: 240px;
}

.availability__description {
  font-size: 14px;
  line-height: 21px;
  width: 240px;
}

@media (min-width: $tablet-width) {
  .availability {
    display: flex;
    margin-top: 120px;
    margin-bottom: 57px;
  }

  .availability__wrapper {
    width: inherit;
    padding: 0;
  }

  .availability__list {
    display: flex;
    justify-content: space-between;
    padding: 0;
  }

  .availability__item {
    width: 185px;
    height: 112px;
    margin-right: 40px;
    text-align: center;
    margin-left: 30px;
  }

  .availability__item--food {
    order: 2;
  }

  .availability__item--souvenirs {
    order: 3;
  }

  .availability__title {
    font-weight: bold;
    font-size: 21px;
    line-height: 26px;
  }

  .availability__description {
    width: inherit;
  }

  .availability__house::before {
    width: 75px;
    height: 72px;
    left: 60px;
    top: -100px;
    background-size: contain;
  }

  .availability__gift::before {
    width: 64px;
    height: 75px;
    left: 63px;
    top: -110px;
    background-size: contain;
  }

  .availability__burger::before {
    width: 76px;
    height: 68px;
    left: 56px;
    top: -100px;
    background-size: contain;
  }
}

@media (min-width: $desktop-width) {
  .availability__wrapper {
    width: 1200px;
    padding: 0;
  }

  .availability__item {
    width: 300px;
    height: 80px;
  }

  .availability__house::before {
    left: 115px;
    background-size: contain;
  }

  .availability__gift::before {
    left: 125px;
    background-size: contain;
  }

  .availability__burger::before {
    left: 115px;
    background-size: contain;
  }
}
