.availability {
  margin-top: 35px;
  margin-bottom: 35px;
}

.availability__list {
  list-style: none;
  text-align: left;
  padding-left: 70px;
}

.advantages__list {
  list-style: none;
  padding-left: 0;
}

.availability__item {
  margin-bottom: 26px;
}

.availability__title {
  margin-bottom: 28px;
}

.advantages__wrapper {
  background: rgba(238, 238, 238, 1);
  padding-top: 20px;
}

.advantages__list li {
  margin-bottom: 50px;
}

.availability__item--housing {
  width: 240px;
}

.availability__description {
  font-size: 14px;
  line-height: 21px;
  width: 240px;
}
