.main-nav {
  min-width: 320px;
  height: 84px;
}

.main-nav__list {
  width: 100%;
  list-style: none;
  display: block;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 26px;
  margin-top: 0;
  padding: 0;
  height: 55px;
  margin-bottom: 168px;
  position: relative;
}

.main-nav__list::before {
  content: "";
  position: absolute;
  width: 22px;
  height: 22px;
  background-image: url("../img/icon-cross.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  right: 16px;
  top: 17px;
  background-size: contain;
}

.site-list__item {
  width: 100%;
  height: 55px;
  font-size: 18px;
  line-height: 40px;
  background: rgba(129, 179, 210, 1);
  margin-bottom: 1px;
  box-shadow: inset 1px rgba(255, 255, 255, 0.2);
  display: flex;
  align-items: center;
  justify-content: center;
}

.site-list__item a {
  text-decoration: none;
  color: rgba(255, 255, 255, 1);
}

@media (min-width: $tablet-width) {
  .main-nav {
    height: 56px;
  }

  .main-nav__list {
    display: grid;
    grid-template-columns: 154px 1fr 154px auto;
    grid-template-rows: 56px;
    margin-bottom: -55px;
  }

  .site-list__item {
    font-weight: bold;
    font-size: 13px;
    line-height: 26px;
    background: rgba(255, 255, 255, 1);
    width: 150px;
    height: 56px;
  }

  .site-list__item a {
    color: rgba(0, 0, 0, 1);
  }

  .main-nav__toggle {
    display: block;
  }
}

.page-body__logo {
  margin: 0 auto;
}

@media (min-width: $desktop-width) {
  .main-nav__list {
    display: grid;
    grid-template-columns: 239px 1fr 239px auto;
    grid-template-rows: 56px;
    margin-bottom: -60px;
  }

  .page-body__logo {
    background-image: url("../img/background-logo-desktop.svg");
    background-repeat: no-repeat;
    margin-left: 80px;
    margin-top: 5px;
    background-size: contain;
  }

  .site-list__item {
    width: 160px;
    font-size: 14px;
    margin-right: -40px;
    margin-left: 40px;
  }
}
