.map__img {
  position: relative;
}

.map__img::before {
  content: "";
  position: absolute;
  width: 27px;
  height: 27px;
  background-image: url("../img/map-marker.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  left: 161px;
  top: 3164px;
}

@media (min-width: $tablet-width) {
  .map__img {
    width: 768px;
  }

  .map__img::before {
    left: 370px;
    top: 2360px;
  }
}

@media (min-width: $desktop-width) {
  .map__img {
    width: 1200px;
  }
}
