.map__map-mobile img {
  display: block;
  min-width: 320px;
  height: 350px;
  margin: 0 auto;
  position: relative;
}

.map-map__tablet img {
  display: none;
}

.map__map-desktop img {
  display: none;
}

.map__map-mobile::before {
  content: "";
  position: absolute;
  width: 27px;
  height: 27px;
  background-image: url("../img/map-marker.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  left: 161px;
  top: 160px;
}

@media (min-width: $tablet-width) {
  .map {
    width: 768px;
  }

  .map__map-mobile img,
  .map__map-desktop img {
    display: none;
  }

  .map-map__tablet img {
    display: block;
  }

  .map__map-mobile::before {
    left: 372px;
    top: 2464px;
  }
}

@media (min-width: $desktop-width) {
  .map {
    width: 1200px;
  }

  .map__map-mobile img,
  .map__map-tablet img {
    display: none;
  }

  .map-map__desktop img {
    display: block;
  }
}
