.page-footer {
  width: 320px;
  height: 233px;
  margin: 0 auto;
}

.page-footer__wrapper {
  margin-top: 38px;
}

.page-footer__social {
  margin-bottom: 45px;
}

.social__title {
  font-size: 21px;
  line-height: 26px;
  margin-top: 38px;
}

.social__list {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  margin-top: 38px;
}

.social__link {
  text-decoration: none;
}

.social__item {
  background: rgba(129, 179, 210, 1);
  width: 46px;
  height: 48px;
  margin-right: 6px;
  display: grid;
}

.social__item a {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
}

.copyright__link {
  color: rgba(0, 0, 0, 1);
}

.copyright__text {
  font-size: 14px;
  line-height: 26px;
  margin-right: 11px;
}

.page-footer__copyright {
  display: inline-flex;
  margin: 0 auto;
}

@media (min-width: $tablet-width) {
  .page-footer {
    width: 768px;
    height: 120px;
    margin: 0 auto;
  }

  .page-footer__wrapper {
    margin: 0;
    display: flex;
  }

  .page-footer__social {
    margin-left: 45px;
    display: flex;
  }

  .social__title {
    margin-right: 135px;
  }

  .social__list {
    margin-top: 20px;
  }

  .page-footer__copyright {
    padding-top: 30px;
  }
}

@media (min-width: $desktop-width) {
  .page-footer {
    width: inherit;
  }

  .page-footer__social {
    margin-left: 104px;
  }

  .social__title {
    margin-right: 254px;
  }

  .social__list {
    margin-right: 80px;
  }
}
