.page-body {
  min-height: 100%;
  display: block;
  grid-template-rows: min-content 1fr min-content;
  min-width: 320px;
  margin: 0 auto;
  font-size: 18px;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
  font-family: "PT Sans", "Arial", sans-serif;
}

@media (min-width: $tablet-width) {
  .page-header--modifier,
  .page-main--modifier,
  .page-footer--mpdifier {
    max-width: 768px;
  }
}

@media (min-width: $desktop-width) {
  .page-header--modifier,
  .page-main--modifier,
  .page-footer--mpdifier {
    max-width: 1200px;
  }
}
