.page-footer {
  width: 320px;
  height: 233px;
  margin-top: 10px;
}

.page-footer__wrapper {
  margin-top: 38px;
}

.social__title {
  font-size: 21px;
  line-height: 26px;
  margin-top: 38px;
}

.social__list {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  margin-top: 38px;
}

.social__link {
  text-decoration: none;
}

.social__item {
  background: rgba(129, 179, 210, 1);
  width: 46px;
  height: 48px;
  margin-right: 6px;
}

.social__item a {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
}

.copyright__link {
  color: rgba(0, 0, 0, 1);
}

.copyright__text {
  font-size: 14px;
  line-height: 26px;
}
