.page-footer {
  width: 320px;
  height: 233px;
  margin-top: 10px;
}

.social__title {
  font-size: 21px;
  line-height: 26px;
  margin-top: 28px;
}

.social__list {
  list-style: none;
  display: flex;
  margin-right: 6px;
}

.social__link {
  text-decoration: none;
}

.copyright__link {
  color: rgba(0, 0, 0, 1);
}
