.photo-city {
  color: #ffffff;
  background: #81b3d2;
}

.photo-city__paragraph {
  font-weight: bold;
  padding-top: 45px;
  width: 295px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 21px;
}

.photo-city__description {
  padding-bottom: 39px;
  width: 295px;
  font-size: 14px;
  line-height: 21px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 28px;
}

.photo-city__slogan {
  width: 295px;
  font-size: 14px;
  line-height: 21px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 28px;
}

.page-header__logo img {
  display: block;
}
