.photo-city {
  color: #ffffff;
  background: #81b3d2;
}

.photo-city__paragraph {
  font-weight: bold;
  padding-top: 45px;
  width: 295px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 21px;
}

.photo-city__description {
  padding-bottom: 39px;
  width: 295px;
  font-size: 14px;
  line-height: 21px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 28px;
}

.photo-city__slogan {
  width: 295px;
  font-size: 14px;
  line-height: 21px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 28px;
}

.page-header__logo img {
  display: block;
  margin: 0 auto;
  height: 260px;
}

.page-header__logo-t,
.page-header__logo-d {
  display: none;
}

@media (min-width: $tablet-width) {
  .photo-city {
    background: #81b3d2;
    display: flex;
    height: 256px;
  }

  .page-header__logo-t {
    display: block;
  }

  .page-header__logo-m,
  .page-header__logo-d {
    display: none;
  }

  .page-header__logo img {
    height: 256px;
    width: 512px;
  }

  .photo-city-wrapper {
    width: 256px;
  }

  .photo-city-wrapper-2 {
    order: 3;
  }

  .page-header__logo-2 {
    order: 1;
  }

  .photo-city__paragraph {
    padding: 0;
    width: 192px;
    margin-top: 40px;
    font-weight: bold;
    font-size: 21px;
    line-height: 26px;
  }

  .photo-city__slogan {
    width: 192px;
    font-size: 14px;
    line-height: 21px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 28px;
    font-weight: normal;
  }

  .photo-city__description {
    width: 192px;
  }
}

@media (min-width: $desktop-width) {
  .page-header__logo-d {
    display: block;
  }

  .page-header__logo-m,
  .page-header__logo-t {
    display: none;
  }

  .page-header__logo img {
    height: 256px;
    width: 800px;
  }

  .photo-city-wrapper {
    width: 400px;
  }
}
