.search {
  margin-bottom: 49px;
  margin-top: 30px;
}

.search__wrapper {
  width: 280px;
  height: 289px;
}

.search__paragraph {
  font-size: 21px;
  line-height: 26px;
  margin-bottom: 24px;
}

.search__content {
  font-size: 14px;
  line-height: 24px;
  margin-bottom: 26px;
}

.search__toggle {
  background: rgba(129, 179, 210, 1);
  width: 280px;
  height: 58px;
  align-items: center;
  text-align: center;
  justify-content: center;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 1);
  font-size: 19px;
  line-height: 26px;
  border-color: inherit;
  border-width: 0;
}

@media (min-width: $tablet-width) {
  .search {
    width: 458px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 57px;
    margin-bottom: 58px;
  }

  .search__paragraph {
    font-weight: bold;
    font-size: 30px;
    line-height: 26px;
    margin-bottom: 33px;
  }

  .search__toggle {
    width: 458px;
  }

  .search__content {
    width: 394px;
    padding-left: 50px;
    margin-bottom: 37px;
  }
}

@media (min-width: $desktop-width) {
  .search {
    margin-top: 55px;
  }

  .search__paragraph {
    margin-bottom: 34px;
    margin-left: 80px;
  }

  .search__content {
    padding-left: 90px;
    margin-bottom: 44px;
  }

  .search__toggle {
    margin-left: 40px;
  }
}
