.stats {
  margin-left: auto;
  margin-right: auto;
  text-transform: uppercase;
  text-align: center;
}

.stats__slogan {
  font-weight: bold;
  margin-top: 32px;
  width: 285px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 46px;
}

.stats__intro {
  width: 285px;
  margin-left: auto;
  margin-right: auto;
  font-size: 14px;
}

.stats__wrapper {
  margin-bottom: 55px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 267px;
}

.stats__header {
  margin-left: auto;
  margin-right: auto;
}

.stats__textindex {
  width: 320px;
  height: 389px;
  margin: 0 auto;
  position: relative;
}

.stats__textindex::after {
  content: "";
  position: absolute;
  width: 160px;
  height: 57px;
  background-image: url("../img/vector.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  left: 0;
  top: 332px;
}

.stats__textindex::before {
  content: "";
  position: absolute;
  width: 160px;
  height: 57px;
  background-image: url("../img/vector-r.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  left: 160px;
  top: 332px;
}

.stats__textindex img {
  width: 282px;
  height: 214px;
  z-index: 2;
  padding: 90px 19px 85px 19px;
  background-image: url("../img/back-mobile.jpg");
}

@media (min-width: $tablet-width) {
  .stats__wrapper {
    margin-top: 0;
  }

  .stats__textindex {
    width: 768px;
    height: 518px;
    margin: 0 auto;
    position: relative;
  }

  .stats__textindex img {
    width: 461px;
    height: 350px;
    z-index: 2;
    padding: 77px 154px 91px 153px;
    margin: auto;
    background-image: url("../img/back-desktop.jpg");
  }

  .stats__slogan {
    font-weight: bold;
    margin-top: 44px;
    width: 520px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 46px;
    font-size: 21px;
    line-height: 26px;
  }

  .stats__intro {
    font-size: 14px;
    white-space: nowrap;
    width: 520px;
  }

  br {
    content: " ";
  }
}
