// Viewports

$tablet-width: 768px;
$desktop-width: 1200px;
$mobile-width-only: 767px;


@import "helpers/font.scss";
@import "blocks/main-nav.scss";
@import "blocks/page-body.scss";
@import "blocks/page-header.scss";
@import "blocks/page-main.scss";
@import "blocks/stats.scss";
@import "blocks/photo-city.scss";
@import "blocks/availability.scss";
@import "blocks/advantages.scss";
@import "blocks/search.scss";
@import "blocks/visually-hidden.scss";
@import "blocks/page-footer.scss";
@import "blocks/map.scss";
